{{#with mainNav}}
<div class="{{prefix}}MainNavigation" data-controller="MainNavigation">
  {{#if this.items}}
  <ul class="{{prefix}}MainNavigation-list {{prefix}}MainNavigation-list--level1">
    {{#each this.items}}
    <li class="{{prefix}}MainNavigation-item{{#if this.items}} {{prefix}}MainNavigation-item--withChildren{{/if}}">
      <a class="{{prefix}}MainNavigation-link {{prefix}}MainNavigation-link--level1{{#if this.items}} {{prefix}}MainNavigation-link--withChildren{{/if}}" href="{{url}}">{{{name}}}</a>
      {{#if this.items}}
        <ul class="{{prefix}}MainNavigation-list {{prefix}}MainNavigation-list--level2">
          {{#each this.items}}
          <li class="{{prefix}}MainNavigation-item">
            <a class="{{prefix}}MainNavigation-link {{prefix}}MainNavigation-link--level2" href="{{this.url}}">{{{this.name}}}</a>
          </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>
{{/with}}
