{{#with mainNav}}
  <div class="{{prefix}}MainNavigation" data-controller="MainNavigation">
    {{#if this.items}}
      {{> navList listlevel=1 hidden=false }}
    {{/if}}
  </div>
{{/with}}

{{#*inline "navList"}}
  <ul
    class="{{prefix}}MainNavigation-list MainNavigation-list--level-{{listlevel}}"
    id="navlist{{listid}}"
    {{#if hidden}} aria-hidden="true"{{/if}}>

    {{#each this.items}}
      {{> navListItem listid=(uid) listlevel=../listlevel}}
    {{/each}}

  </ul>
{{/inline}}

{{#*inline "navListItem"}}
  <li class="{{prefix}}MainNavigation-item{{#if this.items}} {{prefix}}MainNavigation-item--withChildren{{/if}} {{#if (equals true (equals name @root.component))}} is-active {{/if}}">
    <div class="MainNavigation-itemContainer">

      {{#ifAll this.items (lt listlevel 4)}}
        <button
          class="{{prefix}}MainNavigation-toggler IconButton IconButton--small js-toggleList"
          role="button"
          aria-controls="navlist{{listid}}"
          aria-pressed="{{equals name @root.category}}"
          data-controller="Toggler"
          data-target="#navlist{{listid}}">

          {{> component:icon name='chevron-right' }}
        </button>
      {{/ifAll}}

      <a class="{{prefix}}MainNavigation-link" href="{{url}}">{{{name}}}</a>
    </div>

    {{#ifAll this.items (lt listlevel 4)}}
      {{> navList hidden=(equals false (equals name @root.category)) listlevel=(increment listlevel)}}
    {{/ifAll}}
  </li>
{{/inline}}