<div
  data-controller='[{"DemoCode": { "language": "{{language}}" }}]'
  data-id="{{id}}"
  data-url="{{url}}"
  class="DemoCode">

  <code><pre class="js-data code language-{{language}}">{{{json data}}}</pre></code>
</div>
