<div class="SingleComponentView">
  <h1>{{component.name}}</h1>
  <h3>Styles</h3>
  <textarea name="style" data-language="css">{{component.styles}}</textarea>
  <h3>Script</h3>
  <textarea name="script" data-language="javascript">{{component.script}}</textarea>
  <h3>Template</h3>
  <textarea name="template" data-language="handlebars">{{component.template}}</textarea>
  <h3>Data</h3>
  <textarea name="data" data-language="json">{{json component.data}}</textarea>
  <h3>Info</h3>
  <textarea name="readme" data-language="markdown">{{json component.info}}</textarea>
</div>
