<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body style="margin: 0; background: #fefefe; ">
  <div class="Page Page--nopadding text">
    <div id="Standalone-wrapper" style="{{#if isComponent}}padding: 20px; position:relative; margin: auto; max-width:{{#if config.viewport}}{{config.viewport}}{{else}}800px{{/if}}; min-height: 100px;{{else}}padding: 1px 0 0 0; width: 100%;{{/if}}">
    {{{content}}}
    </div>
  </div>
  <script src="/assets/main.js"></script>
  {{{updateIframeScript}}}
  </body>
</html>
