<!DOCTYPE html>
<html class="{{prefix}}Page-root">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism-okaidia.min.css">
    <link rel="stylesheet" href="/styleguide/assets/style.css">
  </head>
  <body class="{{prefix}}Page {{prefix}}Text">
    {{> component:icon-definitions }}

    {{> module:page-navbar }}

    {{> module:page-pane }}

    <main class="{{prefix}}Page-main">
      {{{@body}}}
    </main>

    {{> module:popover-host }}
    {{> module:backdrop-host }}
  </div>
  </body>
  <script src="/styleguide/assets/main.js"></script>
  <script>
    window.updateIframeHeight = function(iframeId, height) {
      var event = new CustomEvent("iframeResize", {
        detail: {
          id: iframeId,
          height: height
        }
      });
      document.dispatchEvent(event);
      // var iframe = document.querySelector('#' + iframeId);
      // if (iframe) {
      //   iframe.style.height = height + 'px';
      // }
    }
  </script>
</html>
