{{#if (isString this)}}
  <p>{{{this}}}</p>
{{else if component}}
  {{>(partial component)}}
{{else}}
  {{#each this}}
    {{#if component}}
      {{>(partial component)}}
    {{else}}
      <p>{{{this}}}</p>
    {{/if}}
  {{/each}}
{{/if}}
