<div class="{{prefix}}Tablist{{#inline}} {{prefix}}Tablist--inline{{/inline}}{{#right}} {{prefix}}Tablist--right{{/right}} {{#small}} {{prefix}}Tablist--small{{/small}}" data-controller="[{ &quot;Tablist&quot;: { {{#toggle}}&quot;toggle&quot;: true{{/toggle}} } }]">
  <ul class="{{prefix}}Tablist-list" aria-role="tablist">
    {{#if items}}
      {{#each items}}
        {{> component:tablist/tab id=id }}
      {{/each}}
    {{else}}
      {{> @partial-block}}
    {{/if}}
  </ul>
</div>
