{{#saveas "view"}}
<section class="{{prefix}}View js-view" id="View-{{name}}" data-url="/{{name}}" data-controller="[{ &quot;View&quot;: {&quot;data&quot;:{{jsonLine data}}{{#config}}, &quot;config&quot;: {{jsonLine .}}{{/config}} }}]">
  <div class="{{prefix}}View-example">
    {{> component:device-park url=(concat "/api/views/" @view.name "?standalone=true")}}
  </div>
  <header>
    {{json screens}}
    {{#if info}}
      {{{markdown info}}}
    {{else}}
      <h2>{{name}}</h2>
    {{/if}}
    {{#if config.version}}
      <span class="{{prefix}}View-versionTag">{{config.version}}</span>
    {{/if}}
  </header>
  <div class="View-content">
    {{#if config.schema}}
      <form class="{{prefix}}Form {{prefix}}View-editForm js-editForm">
        {{#each config.schema}}
          <label class="{{prefix}}Form-label {{prefix}}View-editLabel">
            {{@key}}:
            <select class="{{prefix}}Form-select {{prefix}}View-editField" name="{{@key}}">
              {{#each this}}
                <option value="{{#if value}}{{jsonLine value}}{{else}}{{this}}{{/if}}" {{#equals value (getProperty @view.data @../key)}} selected="selected"{{/equals}}{{#equals this (getProperty @view.data @../key)}} selected="selected"{{/equals}}>{{#if key}}{{key}}{{else}}{{.}}{{/if}}</option>
              {{/each}}
            </select>
          </label>
        {{/each}}
      </form>
    {{/if}}

  </div>
  <footer class="{{prefix}}View-footer">
    {{#if hbs.dependencies}}
    <strong>Dependencies</strong>
    <dl>
      <dt>Components</dt>
      {{#each hbs.dependencies}}
        <dd>{{.}}</dd>
      {{/each}}
    </dl>
    {{/if}}
  </footer>
</section>
{{/saveas}}
