<form class="EditForm"
  data-controller="EditForm"
  data-id="{{id}}"
  data-datapath="{{dataPath}}"
  data-component="{{view.id}}"
  data-sessionid="{{sessionid}}">
  <strong class="EditForm-title">{{view.partialString}}</strong>
  {{#each schema}}
    {{> component:EditForm/param name=(concat (cond ../dataPath (concat ../dataPath '.') '') @key) data=(getProperty ../data @key) param=this}}
  {{/each}}
</form>
