{{#saveas "component"}}
<a href="/styleguide/{{group}}/{{name}}" class="Component-list-item">
  <div class="FlexEmbed FlexEmbed--outlined FlexEmbed--16by9" style="background-image: url('/assets/screens/{{group}}/{{name}}.png');"></div>
  <h3>{{name}}</h3>
</a>
{{/saveas}}
