{{#saveas "component"}}
<a href="/styleguide/{{group}}/{{name}}" class="Component-list-item">
  <div class="FlexEmbed FlexEmbed--outlined FlexEmbed--16by9{{#if (equals @component.group 'views')}} FlexEmbed--scroll{{/if}}" style="background-image: url('/assets/screens/{{group}}/{{name}}{{#if (equals group "views")}}/desktop{{/if}}.png');"></div>
  <h3>{{name}}</h3>
</a>
{{/saveas}}
