<div class="Details {{class}}{{#if inline}} Details--inline{{/if}}{{#if dropdown}} Details--dropdown{{/if}}" id="{{id}}" data-controller="[{ &quot;Details&quot;: { {{#if dropdown}}&quot;dropdown&quot;:true{{#if inline}},{{/if}}{{/if}}{{#if inline}}&quot;inline&quot;:true{{/if}} }}]">
  <div class="Details-summary js-summary" id="details-summary-{{id}}" aria-controls="details-content-{{id}}" role="button" aria-expanded="false" {{#if dropdown}} aria-haspopup="true"{{/if}}tabindex="0">{{title}}</div>
  <div class="Details-content js-content" id="details-content-{{id}}" aria-labeledby="details-summary-{{id}}" role="region" aria-hidden="true">
    {{#if partial-content}}
      {{>@partial-block}}
    {{else}}
      {{#with content}}
        {{> helper:content}}
      {{/with}}
    {{/if}}
  </div>
</div>
