{{#saveas "component"}}
<a href="/styleguide/{{group}}/{{name}}" class="ComponentListItem">
  <div class="ComponentListItem-imageContainer">
    <div class="FlexEmbed FlexEmbed--outlined FlexEmbed--4by3" style="background-image: url('/assets/screens/{{group}}/{{name}}.png');"></div>
  </div>

  <h3 class="ComponentListItem-title">{{name}}</h3>
</a>
{{/saveas}}
