<section
    class="{{prefix}}Example {{prefix}}Section"
    id="example{{id}}"
    data-url="/api/{{@component.group}}/{{@component.name}}"
    data-controller="[{ &quot;Example&quot;: {&quot;data&quot;:{{jsonLine data}}{{#@component.config}}, &quot;config&quot;: {{jsonLine .}}{{/@component.config}} }}]">

  <header class="{{prefix}}Section-header {{prefix}}Package-header">
    <div class="Toolbar">
      <div class="Toolbar-section">
        <h2 class="Toolbar-title Text-header Text-xlarge">{{name}}</h2>

        {{#if config.version}}
          <span class="{{prefix}}Package-versionTag">{{config.version}}</span>
        {{/if}}
      </div>

      <div class="Toolbar-section">
        {{> component:tablist items=(tablistdata id=id tabs="Render#render Data#data") inline="true"}}
        {{#if (or @component.config.schema @component.config.variations)}}
          {{> component:tablist items=(tablistdata id=id tabs="Edit#edit") toggle="true" right="true"}}
        {{/if}}
        <button class="{{prefix}}IconButton IconButton--medium">
          {{> component:icon name='settings' }}
        </button>
      </div>
    </div>
  </header>

  <section class="{{prefix}}Example-container">
    <header class="{{prefix}}Example-header">
      {{> component:tablist items=(tablistdata id=id tabs="Render#render Data#data") inline="true"}}
      {{#if (or @component.config.schema @component.config.variations)}}
        {{> component:tablist items=(tablistdata id=id tabs="Edit#edit") toggle="true" right="true"}}
      {{/if}}
    </header>
    <div class="{{prefix}}Example-content">
      {{#if (or @component.config.schema @component.config.variations)}}
      <div class="{{prefix}}Example-edit" data-controller="Draggable">
        {{#> component:tabarea id=(concat "edit" id) dropdown="true" }}
          <form class="{{prefix}}Form {{prefix}}Example-editForm js-editForm">
            {{#if @component.config.variations}}
              <label class="{{prefix}}Form-label {{prefix}}Example-editLabel">
                Variationer:
                <select class="{{prefix}}Form-select {{prefix}}Example-editField js-variations" name="variations">
                  <option value="{}" selected="selected">Default</option>
                  {{#each @component.config.variations}}
                    <option value="{{jsonLine this}}">{{@key}}</option>
                  {{/each}}
                </select>
              </label>
            {{/if}}
            {{#each @component.config.schema}}
              <label class="{{prefix}}Form-label {{prefix}}Example-editLabel">
                {{@key}}:
                <select class="{{prefix}}Form-select {{prefix}}Example-editField" name="{{@key}}">
                  {{#with (getProperty @component.data @key)}}
                    <option value="{{#if (hasProperty this 'value')}}{{jsonLine value}}{{else}}{{this}}{{/if}}" selected="selected">{{#if (isString this)}}{{this}}{{else}}{{default}}{{/if}}</option>
                  {{/with}}
                  {{#each this}}
                    <option value="{{#if (hasProperty this 'value')}}{{jsonLine value}}{{else}}{{this}}{{/if}}">{{#if key}}{{key}}{{else}}{{.}}{{/if}}</option>
                  {{/each}}
                </select>
              </label>
            {{/each}}
          </form>
        {{/component:tabarea}}
      </div>
      {{/if}}
      <div class="{{prefix}}Example-component">
        {{#> component:tabarea id=(concat "render" id) }}
          <div class="{{prefix}}Example-renderContainer">
            {{> component:preview url=(concat "/api/" @component.group "/" @component.name "?standalone=true")}}
          </div>
        {{/component:tabarea}}
        {{#> component:tabarea id=(concat "data" id) }}
          <div class="{{prefix}}Example-code {{prefix}}Example-code--data">
            <code><pre class="{{prefix}}code js-data language-json">{{{data}}}</pre></code>
          </div>
        {{/component:tabarea}}
        {{#if @component.config.variations}}
          <button rel="prev" role="button" class="js-prev">Previous</button>
          <button rel="next" role="button" class="js-next">Next</button>
        {{/if}}
      </div>
    </div>
  </section>
</div>
