<div class="CodeEditor" data-controller="CodeEditor" data-language="{{#if language}}{{language}}
{{else if (match file '.js')}}javascript
{{else if (match file '.css')}}css
{{else if (match file '.md')}}markdown
{{else if (match file '.hbs')}}handlebars
{{else if (match file '.json')}}json
{{else}}markup{{/if}}" data-file="{{{file}}}" data-component="{{@component.id}}">
  <form class="CodeEditor-form js-form" action="/api{{@component.id}}" method="post">
    <input type="hidden" name="method" value="put">
    <input type="hidden" name="filename" value="{{{file}}}">
    <textarea class="CodeEditor-textarea js-textarea" name="filecontent">{{{code}}}</textarea>
    <code class="CodeEditor-code" aria-hidden="true"><pre class="CodeEditor-pre code language-{{#if language}}{{language}}
    {{else if (match file '.js')}}javascript
    {{else if (match file '.css')}}css
    {{else if (match file '.md')}}markdown
    {{else if (match file '.hbs')}}handlebars
    {{else if (match file '.json')}}json
    {{else}}markup{{/if}} js-editor">{{{code}}}</pre></code>
    <pre class="CodeEditor-caret js-caret" aria-hidden="true"></pre>

    {{#if (getProperty @component.revisions file)}}
      <select class="CodeEditor-revisionPicker js-revisions">
        <option value="{{code}}">Current version</option>
        {{#each (getProperty @component.revisions file)}}
          <option value="{{this}}">{{dateString @key}}</option>
        {{/each}}
      </select>
    {{/if}}
    <button type="submit" disabled class="CodeEditor-submit js-submit">Spara</button>
  </form>
</div>
