<div
  data-controller='DemoExample'
  data-id="{{id}}"
  data-url="{{url}}"
  {{#if queryString}}data-querystring="{{queryString}}"{{/if}}
  data-component="{{{component.id}}}"
  class="DemoView DemoView--example">
  {{#if (equals @component.category 'view')}}
    <div class="DemoView DemoView--view DemoView--example">
      {{> component:DevicePark id=(concat 'iframe-'id) url=url queryString=queryString prettyUrl=(concat @root.host @component.url)}}
    </div>
  {{else if (not isExample)}}
    <iframe
      data-url="{{{url}}}?{{#if queryString}}{{queryString}}&{{/if}}_standalone=true&_iframeid={{id}}",
      src="{{{url}}}?{{#if queryString}}{{queryString}}&{{/if}}_standalone=true&_iframeid={{id}}"
      class="DemoExample-iframe js-iframe"
      id="iframe-{{id}}">
    </iframe>
  {{else}}
    <iframe
      data-url="{{{url}}}?{{#if queryString}}{{queryString}}&{{/if}}_type=example&_iframeid={{id}}"
      src="{{{url}}}?{{#if queryString}}{{queryString}}&{{/if}}_type=example&_iframeid={{id}}"
      class="DemoExample-iframe js-iframe"
      id="iframe-{{id}}">
    </iframe>
  {{/if}}
</div>
