<div
  data-controller='DemoExample'
  data-id="{{id}}"
  data-url="{{url}}"
  class="DemoView DemoView--example">
  {{#if (not isExample)}}
    <iframe
      src="{{{url}}}?standalone=true&iframeid={{id}}&{{querifyObject data}}"
      class="DemoExample-iframe js-iframe"
      id="iframe-{{id}}">
    </iframe>
  {{else}}
    <iframe
      src="{{{url}}}?type=example&iframeid={{id}}&{{querifyObject data}}"
      class="DemoExample-iframe js-iframe"
      id="iframe-{{id}}">
    </iframe>
  {{/if}}
</div>
