<div class="Preview Preview--{{device}} {{class}}" data-controller="Preview" data-device="{{device}}">
  <div class="Preview-container js-container">
    <iframe src="{{url}}" class="Preview-iframe js-iframe" id="{{iframeid}}">Splash screen</iframe>
  </div>
</div>
