{{#saveas "view"}}
<section class="View js-view" id="View-{{name}}" data-url="/{{name}}" data-controller="[{ &quot;View&quot;: {&quot;data&quot;:{{jsonLine data}}{{#config}}, &quot;config&quot;: {{jsonLine .}}{{/config}} }}]">

  <header class="PageHeader Package-header">
    <div class="Package-headerTitle">
      <h2 class="PageHeader-title Text-header Text-xlarge">{{name}}</h2>
      {{#if config.version}}
        <span class="Package-versionTag">{{config.version}}</span>
      {{/if}}
    </div>
  </header>

{{#if template}}
  <div class="Package-demo">
    <div class="Package-demoView Package-demoView--render">
      <div class="Package-example Package-example--desktop js-container">
        {{> component:DevicePark url=(concat "/api" @view.id "?standalone=true")}}
      </div>
    </div>
  </div>
{{/if}}
{{!--   <div class="View-content">
  {{#unless (isEmpty data)}}
    <div class="View-code View-code--data">
      <pre class="code"><code class="js-data">{{{json data}}}</code></pre>
    </div>
  {{/unless}}
  {{#if config.schema}}
    <form class="Form View-editForm js-editForm">
      {{#each config.schema}}
        <label class="Form-label View-editLabel">
          {{@key}}:
          <select class="Form-select View-editField" name="{{@key}}">
            {{#each this}}
              <option value="{{#if value}}{{jsonLine value}}{{else}}{{this}}{{/if}}" {{#equals value (getProperty @view.data @../key)}} selected="selected"{{/equals}}{{#equals this (getProperty @view.data @../key)}} selected="selected"{{/equals}}>{{#if key}}{{key}}{{else}}{{.}}{{/if}}</option>
            {{/each}}
          </select>
        </label>
      {{/each}}
    </form>
  {{/if}}

</div> --}}

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    <footer>
      {{#if hbs.dependencies}}
      <strong>Dependencies</strong>
      <dl>
        {{#each hbs.dependencies}}
          <dd>{{.}}</dd>
        {{/each}}
      </dl>
      {{/if}}
    </footer>
    {{#with children}}
      {{>component:ComponentList components=this}}
    {{/with}}
  </div>

</section>
{{/saveas}}
