{{#saveas "view"}}
<section class="{{prefix}}View js-view" id="View-{{name}}" data-url="/{{name}}" data-controller="[{ &quot;View&quot;: {&quot;data&quot;:{{jsonLine data}}{{#config}}, &quot;config&quot;: {{jsonLine .}}{{/config}} }}]">

  <header class="{{prefix}}PageHeader {{prefix}}Package-header">
    <div class="Package-headerTitle">
      <h2 class="PageHeader-title Text-header Text-xlarge">{{name}}</h2>
      {{#if config.version}}
        <span class="{{prefix}}Package-versionTag">{{config.version}}</span>
      {{/if}}
    </div>
  </header>

  <div class="Package-demo">
    <div class="{{prefix}}Package-demoView {{prefix}}Package-demoView--render">
      <div class="{{prefix}}Example-rendered {{prefix}}Example-rendered--desktop js-container">
        {{> component:device-park url=(concat "/api/views/" @view.name "?standalone=true")}}
      </div>
    </div>
  </div>

{{!--   <div class="View-content">
  {{#unless (isEmpty data)}}
    <div class="{{prefix}}View-code {{prefix}}View-code--data">
      <pre class="{{prefix}}code"><code class="js-data">{{{json data}}}</code></pre>
    </div>
  {{/unless}}
  {{#if config.schema}}
    <form class="{{prefix}}Form {{prefix}}View-editForm js-editForm">
      {{#each config.schema}}
        <label class="{{prefix}}Form-label {{prefix}}View-editLabel">
          {{@key}}:
          <select class="{{prefix}}Form-select {{prefix}}View-editField" name="{{@key}}">
            {{#each this}}
              <option value="{{#if value}}{{jsonLine value}}{{else}}{{this}}{{/if}}" {{#equals value (getProperty @view.data @../key)}} selected="selected"{{/equals}}{{#equals this (getProperty @view.data @../key)}} selected="selected"{{/equals}}>{{#if key}}{{key}}{{else}}{{.}}{{/if}}</option>
            {{/each}}
          </select>
        </label>
      {{/each}}
    </form>
  {{/if}}

</div> --}}

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    <footer>
      {{#if hbs.dependencies}}
      <strong>Dependencies</strong>
      <dl>
        {{#each hbs.dependencies}}
          <dd>{{.}}</dd>
        {{/each}}
      </dl>
      {{/if}}
    </footer>
  </div>

</section>
{{/saveas}}
