{{#*inline "example"}}
  <div class="{{prefix}}Example" id="example{{id}}" data-url="/api/{{@component.group}}/{{@component.name}}" data-controller="[{ &quot;Component&quot;: {&quot;data&quot;:{{jsonLine data}}{{#@component.config}}, &quot;config&quot;: {{jsonLine .}}{{/@component.config}} }}]">
    {{#if name}}
      <h3 class="{{prefix}}Example-title">{{name}}</h3>
    {{/if}}
    <section class="{{prefix}}Example-container">
      <header class="{{prefix}}Example-header">
        {{> lds-component:tablist items=(tablistdata id=id tabs="Render#render Data#data") inline="true"}}
        {{#if @component.config.schema}}
          {{> lds-component:tablist items=(tablistdata id=id tabs="Edit#edit") toggle="true" right="true"}}
        {{/if}}
      </header>
      <div class="{{prefix}}Example-content">
        {{#if @component.config.schema}}
        <div class="{{prefix}}Example-edit">
          {{#> lds-component:tabarea id=(concat "edit" id) }}
            <form class="{{prefix}}Form {{prefix}}Example-editForm js-editForm">
              {{#each @component.config.schema}}
                <label class="{{prefix}}Form-label {{prefix}}Example-editLabel">
                  {{@key}}:
                  <select class="{{prefix}}Form-select {{prefix}}Example-editField" name="{{@key}}">
                    {{#each this}}
                      <option value="{{#if value}}{{jsonLine value}}{{else}}{{this}}{{/if}}" {{#equals value (getProperty data @../key)}} selected="selected"{{/equals}}{{#equals this (getProperty data @../key)}} selected="selected"{{/equals}}>{{#if key}}{{key}}{{else}}{{.}}{{/if}}</option>
                    {{/each}}
                  </select>
                </label>
              {{/each}}
            </form>
          {{/lds-component:tabarea}}
        </div>
        {{/if}}
        <div class="{{prefix}}Example-component">
          {{#> lds-component:tabarea id=(concat "render" id) }}
            <div class="{{prefix}}Example-rendered{{#@component.config.fullwidth}} {{prefix}}Component-container--full{{/@component.config.fullwidth}} js-container">
              {{> (concat @component.category (concat ":" @component.name))}}
            </div>
          {{/lds-component:tabarea}}
          {{#> lds-component:tabarea id=(concat "data" id) }}
            <div class="{{prefix}}Example-code {{prefix}}Example-code--data">
              <pre class="{{prefix}}code"><code class="js-data">{{{json data}}}</code></pre>
            </div>
          {{/lds-component:tabarea}}
        </div>
      </div>
    </section>
  </div>
{{/inline}}

{{#saveas "component"}}
<section class="{{prefix}}Component js-component" id="Component-{{name}}">
  <div class="{{prefix}}Component-example">

  </div>
  <header class="{{prefix}}Component-header">
    {{#if info}}
      {{{markdown info}}}
    {{else}}
      <h2>{{name}}</h2>
    {{/if}}
    {{#if config.version}}
      <span class="{{prefix}}Component-versionTag">{{config.version}}</span>
    {{/if}}
  </header>
  <div class="Component-content">
    {{#if example}}
      {{{ example }}}
    {{/if}}
    {{#if template}}
      {{#if config.variations}}
        {{> example data=data name="Default" id=(uid)}}
        {{#each config.variations}}
          {{> example name=@key data=(mergeObjects @component.data this) id=(uid)}}
        {{/each}}
      {{else}}
        {{> example data=data id=(uid)}}
      {{/if}}
    {{/if}}
    <footer class="{{prefix}}Component-footer">
      <strong>Dependencies</strong>
      <dl>
        {{#if css.dependencies}}
          <dt>CSS</dt>
          {{#each css.dependencies}}
            <dd>{{.}}</dd>
          {{/each}}
        {{/if}}
        {{#if js.dependencies}}
          <dt>JS</dt>
          {{#each js.dependencies}}
            <dd>{{.}}</dd>
          {{/each}}
        {{/if}}
        {{#if hbs.dependencies}}
          <dt>HBS</dt>
          {{#each hbs.dependencies}}
            <dd>{{.}}</dd>
          {{/each}}
        {{/if}}
      </dl>
      {{#if config.revisions}}
        <div class="{{prefix}}Details {{prefix}}Component-code {{prefix}}Component-code--revisions" data-controller="Details">
          <h3 class="{{prefix}}Details-summary js-details-summary">Revisions</h3>
          <div class="{{prefix}}Details-content js-details-content">
            {{#each config.revisions}}
              <div>{{this}}</div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </footer>
  </div>
</section>
{{/saveas}}
