{{#saveas "component"}}
<section
  class="{{prefix}}Package js-component" id="Component-{{name}}">

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    {{#> component:tablist toggle="true"}}
      {{#if template}}
        {{> component:tablist/tab id="template" title="Template"}}
      {{/if}}
      {{#if script}}
        {{> component:tablist/tab id="script" title="Script"}}
      {{/if}}
      {{#if styles}}
        {{> component:tablist/tab id="styles" title="Styles"}}
      {{/if}}
    {{/ component:tablist}}

    {{#if template}}
      {{#> component:tabarea id="template"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api/{{@component.group}}/{{@component.name}}?clean=true&type=template"></pre></code>
      {{/component:tabarea}}
    {{/if}}
    {{#if script}}

      {{#> component:tabarea id="script"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api/{{@component.group}}/{{@component.name}}?clean=true&type=js"></pre></code>
      {{/component:tabarea}}
    {{/if}}
    {{#if styles}}
      {{#> component:tabarea id="styles"}}
        <code><pre class="language-css" data-controller="fetch" data-url="/api/{{@component.group}}/{{@component.name}}?clean=true&type=css"></pre></code>
      {{/component:tabarea}}
    {{/if}}


    <footer class="{{prefix}}Component-footer">
      {{#if dependencies}}
        <strong>Dependencies</strong>
        <dl>
          {{#if css.dependencies}}
            <dt>CSS</dt>
            {{#each css.dependencies}}
              <dd>{{.}}</dd>
            {{/each}}
          {{/if}}
          {{#if js.dependencies}}
            <dt>JS</dt>
            {{#each js.dependencies}}
              <dd>{{.}}</dd>
            {{/each}}
          {{/if}}
          {{#if hbs.dependencies}}
            <dt>HBS</dt>
            {{#each hbs.dependencies}}
              <dd>{{.}}</dd>
            {{/each}}
          {{/if}}
        </dl>
      {{/if}}

      {{#if config.revisions}}
        <div class="{{prefix}}Details {{prefix}}Component-code {{prefix}}Component-code--revisions" data-controller="Details">
          <h3 class="{{prefix}}Details-summary js-details-summary">Revisions</h3>
          <div class="{{prefix}}Details-content js-details-content">
            {{#each config.revisions}}
              <div>{{this}}</div>
            {{/each}}
          </div>
        </div>
      {{/if}}

    </footer>

    {{#with children}}
      <div class="Grid Grid--withGutter">
        {{#each this}}
        <div class="Grid-cell width-1of2 l-width-1of3 xl-width-1of4">
          {{> module:component-list-item}}
        </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
</section>
{{/saveas}}
