{{#saveas "component"}}
<section
  class="Package js-component" id="Component-{{name}}">

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    {{#> component:Tablist toggle="true"}}
      {{#if template}}
        {{> component:Tablist/tab id="template" title="Template"}}
      {{/if}}
      {{#if script}}
        {{> component:Tablist/tab id="script" title="Script"}}
      {{/if}}
      {{#if styles}}
        {{> component:Tablist/tab id="styles" title="Styles"}}
      {{/if}}
    {{/ component:Tablist}}

    {{#if template}}
      {{#> component:Tabarea id="template"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api{{@component.id}}?clean=true&type=template"></pre></code>
      {{/component:Tabarea}}
    {{/if}}
    {{#if script}}

      {{#> component:Tabarea id="script"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api{{@component.id}}?clean=true&type=js"></pre></code>
      {{/component:Tabarea}}
    {{/if}}
    {{#if styles}}
      {{#> component:Tabarea id="styles"}}
        <code><pre class="language-css" data-controller="fetch" data-url="/api{{@component.id}}?clean=true&type=css"></pre></code>
      {{/component:Tabarea}}
    {{/if}}


    <footer class="Component-footer">
      {{#if dependentBy}}
        <strong>Dependencies</strong>
        <ul>
          {{#each dependentBy}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if dependencyTo}}
        <strong>Dependent by me</strong>
        <ul>
          {{#each dependencyTo}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if config.revisions}}
        {{>component:Details class="Component-code Component-code--revisions" title="Revisions" content=config.revisions}}
      {{/if}}

    </footer>

    {{#with children}}
      {{>component:ComponentList components=this}}
    {{/with}}
  </div>
</section>
{{/saveas}}
