{{#saveas "component"}}
<section
  class="{{prefix}}Package js-component" id="Component-{{name}}">

  {{#if template}}
    {{> module:demo data=data id=(concat @component.name @component.group) uid=(uid) }}

    {{#if config.variations}}

      {{#each config.variations}}
        {{> module:demo name=@key data=(mergeObjects @component.data this) id=(concat @component.name @component.group @key) uid=(uid) }}
      {{/each}}

    {{else}}
{{!--       {{> module:demo data=data name=false uid=(uid) }} --}}
    {{/if}}

  {{/if}}

{{!--   {{#if example}}
    <div class="Package-demo">
      <div class="{{prefix}}Package-demoView {{prefix}}Package-demoView--render">
        <div class="{{prefix}}Example-rendered {{prefix}}Example-rendered--desktop js-container">
          {{{ example }}}
        </div>
      </div>
    </div>
  {{/if}} --}}

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    {{#> component:tablist toggle="true"}}
      {{#if template}}
        {{> component:tablist/tab id="template" title="Template"}}
      {{/if}}
      {{#if script}}
        {{> component:tablist/tab id="script" title="Script"}}
      {{/if}}
      {{#if styles}}
        {{> component:tablist/tab id="styles" title="Styles"}}
      {{/if}}
    {{/ component:tablist}}

    {{#if template}}
      {{#> component:tabarea id="template"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api{{@component.id}}?clean=true&type=template"></pre></code>
      {{/component:tabarea}}
    {{/if}}
    {{#if script}}

      {{#> component:tabarea id="script"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api{{@component.id}}?clean=true&type=js"></pre></code>
      {{/component:tabarea}}
    {{/if}}
    {{#if styles}}
      {{#> component:tabarea id="styles"}}
        <code><pre class="language-css" data-controller="fetch" data-url="/api{{@component.id}}?clean=true&type=css"></pre></code>
      {{/component:tabarea}}
    {{/if}}


    <footer class="{{prefix}}Component-footer">
      {{#if dependentBy}}
        <strong>Dependencies</strong>
        <ol>
          {{#each dependentBy}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ol>
      {{/if}}
      {{#if dependencyTo}}
        <strong>Dependent by me</strong>
        <ol>
          {{#each dependencyTo}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ol>
      {{/if}}

      {{#if config.revisions}}
        <div class="{{prefix}}Details {{prefix}}Component-code {{prefix}}Component-code--revisions" data-controller="Details">
          <h3 class="{{prefix}}Details-summary js-details-summary">Revisions</h3>
          <div class="{{prefix}}Details-content js-details-content">
            {{#each config.revisions}}
              <div>{{this}}</div>
            {{/each}}
          </div>
        </div>
      {{/if}}

    </footer>

    {{#with children}}
      <div class="Grid Grid--withGutter">
        {{#each this}}
        <div class="Grid-cell width-1of2 l-width-1of3 xl-width-1of4">
          {{> module:component-list-item}}
        </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
</section>
{{/saveas}}
