{{#equals type "header1"}}<h1 class="text-header1">{{{text}}}</h1>{{/equals}}
{{#equals type "header2"}}<h2 class="text-header2">{{{text}}}</h2>{{/equals}}
{{#equals type "header3"}}<h3 class="text-header3">{{{text}}}</h3>{{/equals}}
{{#equals type "header4"}}<h4 class="text-header4">{{{text}}}</h4>{{/equals}}
{{#equals type "header5"}}<h5 class="text-header5">{{{text}}}</h4>{{/equals}}
{{#unless type}}<p>{{{text}}}</p>{{/unless}}
