<div class="FlexEmbed {{class}} FlexEmbed--{{#if dimension}}{{dimension}}{{else}}16by9{{/if}}{{#each (split modifiers)}} FlexEmbed--{{this}}{{/each}}" style="background-image: url('{{url}}');"></div>
