<div
  data-controller="[{ &quot;Demo&quot;: {&quot;data&quot;:{{jsonLine data}}{{#component.config}}, &quot;config&quot;: {{jsonLine .}}{{/component.config}} }}]"
  data-id="{{id}}"
  class="{{prefix}}Demo">
  <div class="Demo-content">

    {{#if (not isExample)}}

      {{> module:demo/header
            title=title
            data=component.data
            schema=component.config.schema }}

      {{#> component:tabarea id=(concat "render" uid) }}
        <div class="{{prefix}}Package-demoView {{prefix}}Package-demoView--example">
          {{> module:demo/example id=../id component=component url=url }}
        </div>
      {{/component:tabarea}}

      {{#> component:tabarea id=(concat "data" uid) }}
        <div class="{{prefix}}Package-demoView {{prefix}}Package-demoView--data">
          {{> module:demo/code id=../id data=data }}
        </div>
      {{/component:tabarea}}
      {{#> component:tabarea id=(concat "html" uid) }}
        <div class="{{prefix}}Package-demoView {{prefix}}Package-demoView--html">
          {{> module:demo/html id=../id url=(concat "/api/" component.group "/" component.name)}}
        </div>
      {{/component:tabarea}}

    {{else}}
      <div class="{{prefix}}Package-demoView {{prefix}}Package-demoView--example">
        {{> module:demo/example id=id url=url }}
      </div>
    {{/if}}

  </div>
</div>
