<div
  data-controller='[{"DemoCode": { "language": "{{language}}" }}]'
  data-id="{{id}}"
  data-url="{{url}}"
  class="{{prefix}}DemoView {{prefix}}DemoView--code">

  <code><pre class="js-data {{prefix}}code language-{{language}}">{{{json data}}}</pre></code>
</div>
