{{#*inline "gridCell"}}
  <div class="{{prefix}}Grid-cell{{#each width}} {{prefix}}u-width--{{this}}{{/each}}">
    {{> content}}
  </div>
{{/inline}}

<div class="{{prefix}}Grid{{#each mode}} {{prefix}}Grid--{{this}}{{/each}}">
  {{#each items}}
    {{> gridCell}}
  {{/each}}
</div>
