<div
  data-controller='DemoHTML'
  data-id="{{id}}"
  data-url="{{url}}"
  class="{{prefix}}DemoView {{prefix}}DemoView--code {{prefix}}DemoView--html">
  <pre><code class="language-html js-code"></code></pre>
</div>
