{{#saveas "component"}}
<div class="{{prefix}}Page-innerWrapper">

  <header class="{{prefix}}PageHeader {{prefix}}Package-header">

    <h2 class="Package-headerTitle PageHeader-title Text-header Text-xlarge">
      {{capitalize name}}

      {{#if config.version}}
        <span class="{{prefix}}Package-versionTag">{{config.version}}</span>
      {{/if}}
    </h2>

    <div class="PageHeader-nav">
      {{#if code}}
        <ul class="PageHeader-menu PageHeader-menu--secondary">
          {{#> component:tablist toggle="true"}}
            {{#> component:tablist/tab id="source"}}
              <button class="js-showEditFormbutton {{prefix}}IconButton {{prefix}}IconButton--medium">
                {{!-- {{> component:icon name='settings' }} --}}
                <\>
              </button>
            {{/ component:tablist/tab}}
          {{/ component:tablist}}
        </ul>
      {{/if}}

    </div>
  </header>

  {{#> component:tabarea id="source"}}
    <div class="Page-subheader">
      {{#> component:tablist small="true"}}
        {{#if @component.template}}
          {{> component:tablist/tab id="template" title="index.hbs"}}
        {{/if}}
        {{#if @component.script}}
          {{> component:tablist/tab id="script" title="index.js"}}
        {{/if}}
        {{#if @component.styles}}
          {{> component:tablist/tab id="styles" title="index.css"}}
        {{/if}}
      {{/ component:tablist}}
    </div>

    <div class="Page-section--divider">
      {{#if template}}
        {{#> component:tabarea id="template"}}
          <code><pre class="code language-handlebars" data-controller="fetcher" data-url="/api/{{@component.group}}/{{@component.name}}?clean=true&type=template"></pre></code>
        {{/component:tabarea}}
      {{/if}}

      {{#if script}}
        {{#> component:tabarea id="script"}}
          <code><pre class="code language-handlebars" data-controller="fetcher" data-url="/api/{{@component.group}}/{{@component.name}}?clean=true&type=js"></pre></code>
        {{/component:tabarea}}
      {{/if}}

      {{#if styles}}
        {{#> component:tabarea id="styles"}}
          <code><pre class="code language-css" data-controller="fetcher" data-url="/api/{{@component.group}}/{{@component.name}}?clean=true&type=css"></pre></code>
        {{/component:tabarea}}
      {{/if}}

    </div>
  {{/component:tabarea}}

  {{#if template}}

    {{#if config.variations}}

      {{> module:demo
        id=(concat @component.name uid)
        uid=(uid)
        title=(concat "Default " (capitalize @component.name))
        url=(concat "/api/" @component.group "/" @component.name)
        component=@component
        data=data }}

      {{#each config.variations}}
        {{> module:demo
              id=(concat @component.name ":" @key)
              uid=(uid)
              title=(capitalize (concat @component.name " " @key))
              url=(concat "/api/" @component.group "/" @component.name)
              component=@component
              data=(mergeObjects @component.data this) }}

      {{/each}}

    {{else}}

      {{> module:demo
            id=@component.name
            devices="true"
            uid=(uid)
            url=(concat "/api/" @component.group "/" @component.name)
            component=@component
            data=data }}

    {{/if}}

  {{/if}}

  {{#if example}}
    {{> module:demo
        id=(concat @component.name ":example")
        uid=(uid)
        title=@component.name
        url=(concat "/api/" @component.group "/" @component.name)
        component=@component
        isExample=true
      }}
  {{/if}}

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    <footer class="{{prefix}}Component-footer">
      {{#if dependentBy}}
        <strong>Dependencies</strong>
        <ul>
          {{#each dependentBy}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if dependencyTo}}
        <strong>Dependent by me</strong>
        <ul>
          {{#each dependencyTo}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if config.revisions}}
        <div class="{{prefix}}Details {{prefix}}Component-code {{prefix}}Component-code--revisions" data-controller="Details">
          <h3 class="{{prefix}}Details-summary js-details-summary">Revisions</h3>
          <div class="{{prefix}}Details-content js-details-content">
            {{#each config.revisions}}
              <div>{{this}}</div>
            {{/each}}
          </div>
        </div>
      {{/if}}

    </footer>

    {{#with children}}
      <div class="Grid Grid--withGutter">
        {{#each this}}
        <div class="Grid-cell width-1of2 l-width-1of3 xl-width-1of4">
          {{> module:component-list-item}}
        </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
</div>
{{/saveas}}
