{{#saveas "component"}}
<div class="Page-innerWrapper">

  <header class="PageHeader Package-header">

    <h2 class="Package-headerTitle PageHeader-title Text-header Text-xlarge">
      {{capitalize name}}

      {{#if config.version}}
        <span class="Package-versionTag">{{config.version}}</span>
      {{/if}}
    </h2>

    <div class="PageHeader-nav">
      {{#if code}}
        <ul class="PageHeader-menu PageHeader-menu--secondary">
          {{#> component:Tablist toggle="true"}}
            {{#> component:Tablist/tab id="source"}}
              <button class="js-showEditFormbutton IconButton IconButton--medium">
                {{!-- {{> component:Icon name='settings' }} --}}
                <\>
              </button>
            {{/ component:Tablist/tab}}
          {{/ component:Tablist}}
        </ul>
      {{/if}}

    </div>
  </header>

  {{#> component:Tabarea id="source"}}
    <div class="Page-subheader">
      {{#> component:Tablist small="true"}}
        {{#if @component.template}}
          {{> component:Tablist/tab id="template" title="index.hbs"}}
        {{/if}}
        {{#if @component.script}}
          {{> component:Tablist/tab id="script" title="index.js"}}
        {{/if}}
        {{#if @component.styles}}
          {{> component:Tablist/tab id="styles" title="index.css"}}
        {{/if}}
      {{/ component:Tablist}}
    </div>

    <div class="Page-section--divider">
      {{#if template}}
        {{#> component:Tabarea id="template"}}
          {{> component:CodeEditor language="handlebars" fetch=(concat '/api/' @component.group '/' @component.name '?clean=true&type=template')}}
        {{/component:Tabarea}}
      {{/if}}

      {{#if script}}
        {{#> component:Tabarea id="script"}}
          {{> component:CodeEditor language="javascript" fetch=(concat '/api/' @component.group '/' @component.name '?clean=true&type=js')}}
        {{/component:Tabarea}}
      {{/if}}

      {{#if styles}}
        {{#> component:Tabarea id="styles"}}
          {{> component:CodeEditor language="css" fetch=(concat '/api/' @component.group '/' @component.name '?clean=true&type=css')}}
        {{/component:Tabarea}}
      {{/if}}

    </div>
  {{/component:Tabarea}}

  {{#if template}}

    {{#if config.variations}}

      {{> component:Demo
        id=(concat @component.name uid)
        uid=(uid)
        title=(concat "Default " (capitalize @component.name))
        url=(concat "/api/" @component.group "/" @component.name)
        component=@component
        data=data }}

      {{#each config.variations}}
        {{> component:Demo
              id=(concat @component.name ":" @key)
              uid=(uid)
              title=(capitalize (concat @component.name " " name))
              url=(concat "/api/" @component.group "/" @component.name)
              component=@component
              data=(mergeObjects @component.data value) }}

      {{/each}}

    {{else}}

      {{> component:Demo
            id=@component.name
            devices="true"
            uid=(uid)
            url=(concat "/api/" @component.group "/" @component.name)
            component=@component
            data=data }}

    {{/if}}

  {{/if}}

  {{#if example}}
    {{> component:Demo
        id=(concat @component.name ":example")
        uid=(uid)
        title=@component.name
        url=(concat "/api/" @component.group "/" @component.name)
        component=@component
        isExample=true
      }}
  {{/if}}

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    <footer class="Component-footer">
      {{#if dependentBy}}
        <strong>Dependencies</strong>
        <ul>
          {{#each dependentBy}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if dependencyTo}}
        <strong>Dependent by me</strong>
        <ul>
          {{#each dependencyTo}}
            <li><a href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if config.revisions}}
        {{>component:Details class="Component-code Component-code--revisions" title="Revisions" content=config.revisions }}
      {{/if}}

    </footer>

    {{#if children}}
      {{>component:ComponentList components=children}}
    {{/if}}
  </div>
</div>
{{/saveas}}
