{{#saveas "component"}}
<div class="Page-innerWrapper">

  <header class="PageHeader Package-header">

    <h2 class="Package-headerTitle PageHeader-title Text-header Text-xlarge">
      {{capitalize name}}

      {{#if config.version}}
        <span class="Package-versionTag">{{config.version}}</span>
      {{/if}}
    </h2>
    <div class="PageHeader-nav">
      {{#if code}}
        <ul class="PageHeader-menu PageHeader-menu--secondary">
          {{#> component:Tablist toggle="true"}}
            {{#> component:Tablist/tab id="source"}}
              <button class="js-showEditFormbutton IconButton IconButton--medium">
                <\>
              </button>
            {{/ component:Tablist/tab}}
          {{/ component:Tablist}}
        </ul>
      {{/if}}

    </div>
  </header>

  {{#> component:Tabarea id="source"}}
    <div class="Page-subheader">
      {{#> component:Tablist small="true"}}
        {{#each @component.files}}
          {{> component:Tablist/tab id=(join (split @key '.')) title=@key }}
        {{/each}}
      {{/ component:Tablist}}
    </div>
    <div class="Page-section--divider">
      {{#each @component.files}}
        {{#> component:Tabarea id=(join (split @key '.'))}}
          {{> component:CodeEditor code=../this file=@key component=@component}}
        {{/component:Tabarea}}
      {{/each}}
    </div>
  {{/component:Tabarea}}

  {{#if template}}

    {{#if config.variations}}

      {{> component:Demo
        id=(concat @component.name uid)
        uid=(uid)
        title=(concat "Default " (capitalize @component.name))
        url=(concat "/api/" @component.group "/" @component.name)
        component=@component
        data=data }}

      {{#each config.variations}}
        {{> component:Demo
              id=(concat @component.name ":" @key)
              uid=(uid)
              title=(capitalize (concat @component.name " " @key))
              url=(concat "/api/" @component.group "/" @component.name)
              queryString=(concat "variation=" @key)
              component=@component
              data=(mergeObjects @component.data value) }}

      {{/each}}

    {{else}}

      {{> component:Demo
            id=@component.name
            devices="true"
            uid=(uid)
            url=(concat "/api/" @component.group "/" @component.name)
            component=@component
            data=data }}

    {{/if}}

  {{/if}}

  {{#if example}}
    {{> component:Demo
        id=(concat @component.name ":example")
        uid=(uid)
        title=@component.name
        url=(concat "/api/" @component.group "/" @component.name)
        component=@component
        isExample=true
      }}
  {{/if}}

  <div class="Page-section">
    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    <footer class="Component-footer">
      <div class="Grid Grid--withGutter">
      {{#if dependentBy}}
        <div class="Grid-cell s-width-1of2">
          <strong>Beroenden</strong>
          <ul class="Component-dependencyList">
            {{#each dependentBy}}
              <li class="Component-dependencyListItem"><a class="Component-dependency" href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
      {{#if dependencyTo}}
        <div class="Grid-cell s-width-1of2">
          <strong>Beroende av mig</strong>
          <ul class="Component-dependencyList">
            {{#each dependencyTo}}
              <li class="Component-dependencyListItem"><a class="Component-dependency" href="/styleguide{{this.id}}">{{this.partialName}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
      </div>

      {{#if config.revisions}}
        {{>component:Details class="Component-code Component-code--revisions" title="Revisions" content=config.revisions }}
      {{/if}}

    </footer>

    {{#if children}}
      {{>component:ComponentList components=children}}
    {{/if}}
  </div>
</div>
{{/saveas}}
