<div class="{{prefix}}Page-innerWrapper">
  {{#with (getProperty (getProperty this category) component)}}
    {{#> module:page-header title=(prettyName name)}}
      {{#>component:tablist}}
        {{#if template}}
        {{>component:tablist/tab id="render" title="Render"}}
        {{/if}}
        {{#if data}}
        {{>component:tablist/tab id="data" title="Data"}}
        {{/if}}
      {{/component:tablist}}
    {{/module:page-header}}
    {{#if template}}
    {{#> component:tabarea id="render"}}
      {{>component:preview url=(concat "/api/" group "/" name "?standalone=true")}}
    {{/component:tabarea}}
    {{/if}}
    {{#if data}}
    {{#> component:tabarea id="data"}}
      <code><pre class="language-json js-data">{{{json data}}}</pre></code>
    {{/component:tabarea}}
    {{/if}}

    {{#if example}}
      {{{example}}}
    {{/if}}

    {{#if info}}
      {{{markdown info}}}
    {{/if}}

    {{#> component:tablist toggle="true"}}
      {{#if template}}
        {{> component:tablist/tab id="template" title="Template"}}
      {{/if}}
      {{#if script}}
        {{> component:tablist/tab id="script" title="Script"}}
      {{/if}}
      {{#if styles}}
        {{> component:tablist/tab id="styles" title="Styles"}}
      {{/if}}
    {{/ component:tablist}}

    {{#if template}}
      {{#> component:tabarea id="template"}}
        <code><pre class="language-handlebars" data-controller="fetch" data-url="/api/{{group}}/{{name}}?clean=true&type=template"></pre></code>
      {{/component:tabarea}}
    {{/if}}
    {{#if script}}

      {{#> component:tabarea id="script"}}
        <code><pre class="language-js" data-controller="fetch" data-url="/api/{{group}}/{{name}}?clean=true&type=js"></pre></code>
      {{/component:tabarea}}
    {{/if}}
    {{#if styles}}
      {{#> component:tabarea id="styles"}}
        <code><pre class="language-css" data-controller="fetch" data-url="/api/{{group}}/{{name}}?clean=true&type=css"></pre></code>
      {{/component:tabarea}}
    {{/if}}

    {{#if (or hbs.dependencies.length css.dependencies.length js.dependencies.length)}}
      <h2>Dependencies</h2>
      <ul>
      {{#each hbs.dependencies}}
        <li>{{this}}</li>
      {{/each}}
      {{#each js.dependencies}}
        <li>{{this}}</li>
      {{/each}}
      {{#each css.dependencies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <!-- {{> module:package}} -->
  {{/with}}
</div>
