<div class="ComponentList {{class}}{{#each (split modifiers)}} ComponentList--{{this}}{{/each}}" data-controller="ComponentList">
  <div class="Grid Grid--withGutter Grid--equalHeight ComponentList-grid js-grid">
    {{#each components}}
      <div class="Grid-cell ComponentList-cell width-1of2 m-width-1of3 l-width-1of4 l-width-1of5 js-cell">
        <a href="/styleguide/{{group}}/{{name}}" class="ComponentList-item{{#if children}} ComponentList-item--stack{{/if}} js-item" data-childcount="{{children.length}}">
          <div class="ComponentList-image">
            {{#if (equals group 'views')}}
              {{>component:FlexEmbed url=screen modifiers="outlined scroll" dimension="4by3"}}
            {{else}}
              {{>component:FlexEmbed url=screen modifiers="outlined contain" dimension="4by3"}}
            {{/if}}
          </div>
          <h3 class="ComponentList-title">{{name}}</h3>
        </a>
      </div>
    {{/each}}
  </div>
</div>
