<div
  data-controller='DemoExample'
  data-id="{{id}}"
  data-url="/api/{{@component.group}}/{{@component.name}}"
  class="{{prefix}}DemoView {{prefix}}DemoView--example"
  class="{{prefix}}Example-rendered {{prefix}}Example-rendered--desktop">

  <iframe
    class="{{prefix}}Example-iframe js-iframe"
    id="iframe-{{id}}">
  </iframe>
</div>
