<div
  data-controller='DemoExample'
  data-id="{{id}}"
  data-url="{{url}}"
  class="{{prefix}}DemoView {{prefix}}DemoView--example">

  {{# if devices }}
    {{> component:device-park url=url }}
  {{else}}
    {{> component:preview url=url }}
  {{/if}}

  <iframe
    class="{{prefix}}Example-iframe js-iframe"
    id="iframe-{{id}}">
  </iframe>
</div>
